<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>OLHS - Registration</title>

<div data-th-replace="Link/CSS :: myCss"></div>

<!-- /global stylesheets -->

<!-- Core JS files -->
<style>
#register{
float:right;
   width:950px;
   height:550px;
   background-color: #f4f4f4;
  border: 1px solid #382e3e;
                border-radius: 5px;
                padding: 30px 40px;
                margin-top: 3px;
                 margin-bottom: 10px;
                margin-right: 50px;
                
                -webkit-box-shadow: -1px 2px 20px 11px rgba(0,0,0,0.25);
                -moz-box-shadow:-1px 2px 20px 11px rgba(0,0,0,0.25);
                box-shadow: -1px 2px 20px 11px rgba(0,0,0,0.25);
}
body{
  background-color: #1560bd;
}
</style>

</head>

<body>
	<section class="main-container">
		<div class="container-fluid">
		
		<div class="row">
		  <div class="col-md-12">
							<div id="register">
							 <div id="output1" class="alert alert-success hidden">
							
							 </div>
							  <div id="output2" class="alert alert-danger hidden"></div>
							 <form class="form-horizontal" id="r_form">
							  <fieldset>
                                    <legend>Registrant</legend>
                                 	<div class="row">
					
                                    <div class="col-md-6">
                                    <div class="form-group ">
                                            <label class="col-md-4 control-label">Names</label>
                                            <div class=" col-md-8">
                                                <input type="text" name="Name" class="form-control" id="r_names" placeholder="Name" required="required"/>
                                                
                                            </div>
                                        </div>
                                        </div>
                                        
                                   <div class="col-md-6">    
                                   <div class="form-group ">
                                            <label class="col-md-4 control-label">GENDER</label>
                                            <div class="col-md-8">
                                                <select class="form-control" required="required" id="r_gender" name="gender">
                                                    <option value="MALE">MALE</option>
                                                    <option value="FEMALE">FEMALE</option>
                                                    
                                                </select>
                                            </div>
                                        </div>  
                                       </div>
                                       </div>
                                        
                                     <div class="row">
					
                                    <div class="col-md-6">
                                    <div class="form-group ">
                                            <label class="col-md-4 control-label">Email</label>
                                            <div class=" col-md-8">
                                                <input type="email" name="email" class="form-control" id="r_email" placeholder="Email" required="required"/>
                                                
                                            </div>
                                        </div>
                                        </div>
                                        
                                     <div class="col-md-6">
                                    <div class="form-group ">
                                            <label class="col-md-4 control-label">IDENTITY</label>
                                            <div class=" col-md-8">
                                                <input type="text" name="r_identity" class="form-control" id="r_identity" placeholder="National Id" required="required"/>
                                                
                                            </div>
                                        </div>
                                        </div> 
                                       </div>
                                     <div class="row">
					
                                    <div class="col-md-6">    
                                   <div class="form-group ">
                                            <label class="col-md-4 control-label">Category</label>
                                            <div class="col-md-8">
                                                <select class="form-control" required="required" id="r_category" name="category">
                                                    <option value="CITIZEN">CITIZEN</option>
                                                    <option value="UPCOMING_LAWYER">UPCOMING LAWYER</option>
                                                    
                                                </select>
                                            </div>
                                        </div>     
                                           
                                        </div>
                                          <div class="col-md-6">
                                    <div class="form-group ">
                                            <label class="col-md-4 control-label">PHONE</label>
                                            <div class=" col-md-8">
                                                <input type="text" name="r_phone" class="form-control" id="r_phone" placeholder="Phone" required="required"/>
                                                
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                        
                                        <div class="row">
                                        <div class="col-md-6">
                                         <div class="form-group ">
                                                        <label class="col-md-4 control-label">Marital Status</label>
                                                        <div class="col-md-8">
                                                            <select class="form-control" required="required" id="r_maritalstatus" name="martalstatus">
                                                                <option value="SINGLE">SINGLE</option>
                                                                <option value="MARRIED">MARRIED</option>
                                                                <option value="DIVORCED">DIVORCED</option>
                                                                <option value="WIDOWED">WIDOWED</option>
                                                                <option value="NOT_APPLICABLE">NOT_APPLICABLE</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                        </div>
                                        <div class="col-md-6">
                                          <fieldset>
                                    <legend>SIGN IN INFO</legend>
                                    </fieldset>
                                 		<div class="form-group ">
                                            <label class="col-md-4 control-label">UserName</label>
                                            <div class=" col-md-8">
                                                <input type="text" name="username" class="form-control" id="r_username" placeholder="Username" required="required"/>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="col-md-4 control-label">Password</label>
                                            <div class=" col-md-8">
                                                <input type="password" name="password" class="form-control" id="r_password" placeholder="password" required="required"/>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group">
										<div class="col-md-8">
										<label>
                                           <input id="showPassword" type="checkbox" onclick="myfunction()"/>Show Password
                                        </label>
                                          </div>
                                       </div>
                                        </div>
                                        </div>
                                        
                                     </fieldset>
                                    
                                        <div class="row">
                                       <div class="col-md-12">
											
                                        <div class="form-group col-md-12">
                                            
                                            <div class="col-md-12">
                                                <div class="form-actions">
                                                    <a  class="btn btn-primary pull-right" id="r_save"> <i class="zmdi zmdi-save"></i> Save</a>
                                                    <a href="login" class="btn btn-danger pull-left">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                         </div>
                                         </div>
                                    </form>
							</div>	
								
							</div>
							</div>
							</div>
							
					
	
                                	
                                   
			
				<div class="row">
					<div data-th-replace="/Layout/Footer :: myFooter"></div>
				</div>



		<div data-th-replace="/Link/Script :: myScript"></div>



		   <script>
			     
		   function olhs_url() {
			      var olhs_url = "http://localhost:8003";

			      return olhs_url;
			    }
		  
		   // The Method to Show Password
		   function myfunction(){
				var x=document.getElementById("r_password");
				
				if(x.type==="password"){
					x.type="text";
				}else{
					x.type="password";
				}
			}
		   $(document).ready(function(){
			   $("#output1").hide();
		   })
			$(document).on('click','#r_save',function (){
				
				var username="User";
				
				var Names=$("#r_names").val();
				 var username=$('#r_username').val();
				var password=$("#r_password").val();
				var role='User';
				if($("#r_form").valid()){ 
					$("#r_save").addClass('disabled');
					
					var user={
			        Names:Names,
			        username:username,
			        phone:$("#r_phone").val(),
			        email:$("#r_email").val(),
			        gender:$("#r_gender").val(),
			        applicationName:'OLHS',
			        nationalId:$("#r_identity").val(),
			        password:password,
			        role:role,
			        names:$("#r_names").val(),
			        registrantCategory:$("#r_category").val(),
			        martalStatus:$("#r_maritalstatus").val()
					
			        }	
					console.log(user);		
					$.ajax({ 
				        
						headers: {
					        
		                   'olhs_token': 'OLHS'+formatDate(new Date(), "dd-MM-yyyy"),
					        'doneBy':username
					    },
						url:olhs_url()+'/registrants/savewithadmin', 
				        type : "POST", // type of action POST || GET
				        dataType : 'json', // data type
				        data : JSON.stringify(user), // post data || get data
				        contentType: 'application/json',
				        success : function(result, textStatus, jQxhr) {
				        	$("#r_save").removeClass('disabled');
				        	if(result.CODE==200){
				     
				        		$.alert(result.DESCRIPTION,
										{
											type : "success",
											position : [ 'top-right',
													[ -0.42, 0 ] ],
										}); 
					        	
					        	$("#r_form").each(
										function() {
											this.reset();
										});
					        	 
					        	}else{
					        		 $.alert(result.DESCRIPTION,
											{
												type : "danger",
												position : [ 'top-right',
														[ -0.42, 0 ] ],
											}); 
					        	}
					        		
				        	

								

							},
							error: function (xhr, resp, text) {
								console.log(xhr, resp, text);
								$("#r_save").removeClass('disabled');
								$.alert('Error Occurred' + xhr.responseText, {
									type: "danger",
									position: ['top-right',
										[-0.42, 0]
									],
								});

							}
						});

				}
					
				});

		   
		   </script>


	</section>
</body>
</html>
