<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	
	 <meta name="viewport" content="width=device-width, initial-scale=1"/> 
	<title>OLHS -USERS</title>

	<div data-th-replace="Link/CSS :: myCss"></div>
<link type="text/css" rel="stylesheet" href="css/dtb.css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<style>
 
	</style>

</head>

<body class="leftbar-view">
	<div  data-th-replace="/Layout/Navbar :: myHeader"></div>
	<div  data-th-replace="/Layout/Sidebar :: mySidebar"></div>
	
	<section class="main-container">
				<div class="row">
					<div class="col-md-12">
						<div class="widget-wrap">
							<div class="widget-header margin-bottom-0 block-header clearfix">
								<div id="new" class="pull-left">
									<a class="btn btn-primary" href="new_user"> <i class="zmdi zmdi-plus"></i> NEW</a>
								</div>

							</div>
								</div>
							</div>
						</div>
							
								
				 <div class="widget-wrap">
                   
                     <div class="widget-container">
                        <div class="widget-content">
	                                <table id="table" class="table table-hover">
												<thead>
													<th >#</th>
													<th>Name</th>
													<th>Phone</th>
													<th>Gender</th>
													<th th:if="${(session.a_user.getRole().toLowerCase().equalsIgnoreCase('SuperAdmin'))}">Role</th>
													<th>Username</th>
													<th>Action</th>
													
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
										</div>
										
									</div>
								 
									
									
									
					                
							    

				<div id="list_users"></div>


				<div class="row">
					<div data-th-replace="/Layout/Footer :: myFooter"></div>
				</div>

			




		<div data-th-replace="/Link/Script :: myScript"></div>
	</section>
	
		<script>
		
		function token(){
			var token="kkdkshbsbsnmsbbndzmasbvzskdsjnfkn";
			return token;
		}
		   function myum_url() {
			      var olhs_url = "http://localhost:8002";

			      return olhs_url;
			    }
			var loggedinrole = $.parseJSON(sessionStorage.getItem('a_user')).role;
			var username = $.parseJSON(sessionStorage.getItem('a_user')).username;
			var firstName = $.parseJSON(sessionStorage.getItem('a_user')).firstName;
			var objectId = $.parseJSON(sessionStorage.getItem('a_user')).objectId;
			var objectName = $.parseJSON(sessionStorage.getItem('a_user')).objectName;
			var users;
			var req = {
				applicationName: 'OLHS',
				objectName: objectName,
				objectId: objectId
			}
			console.log(req);
			$(function () {
				console.log(loggedinrole);
				if (loggedinrole === 'SuperAdmin') {
					list_super_admin();
				} 
			})

			function list_super_admin() {
				var tables=$('#table').DataTable().clear().draw();
				$.ajax({
					//url: myum_url() + '/users/superadmins/OLHS',
					url: myum_url() + '/users/',
					type: "GET", // type of action POST || GET
					dataType: 'json', // data type
					headers: {
						'um_token':'MYUM'+formatDate(new Date(), "dd-MM-yyyy"),
					},
					data: {}, // post data || get data
					contentType: 'application/json',
					success: function (result, textStatus, jQxhr) {
						if (result.CODE == 200) {
							
						var users=result.OBJECT;
						 $.each(users, function (i, user) {
							
								tables.row.add(
									[
										i+1,
										user.names,
										user.phone,
										user.gender,
										user.role,
										user.username,
										" <ul class='icons-list' style='list-style: none'>"+"" +
		                                "<li class='dropdown'>"+"" +
		                                   "  <a href='datatable_basic.htm#' class='dropdown-toggle' data-toggle='dropdown'><i class='fa fa-bars'></i></a>"+"" +
		                                 " <ul class='dropdown-menu dropdown-menu-right'>"+"" +
		                                   "<li><a href='/productcategoryupdate_" + user.uuid + "' id='m_edit' class='dropdown-toggle' data-toggle='tooltip'  title='Edit This User'><i class='zmdi zmdi-edit'></i> Update</a></li>"+"" +
		                                   "<li><a data-uuid='"+user.uuid+"' href='javascript:void(0)' class='dropdown-toggle check pc_deleting' id='delete'  data-toggle='tooltip'  title='Delete This User' ><i class='zmdi zmdi-delete'></i> Delete<a></li>"+"" +
		       
		                                 " </ul>"+"" +
		                                  " </li>"+"" +
		                           " </ul>"
									]
								).draw();
								
							});
						} else {
							$.alert(result.DESCRIPTION, {
								type: "danger",
								position: ['center',
									[-0.42, 0]
								],
							});
						}
					},
					error: function (xhr, resp, text) {
						console.log(xhr, resp, text);
						$.alert('Error Occurred', {
							type: "danger",
							position: ['center',
								[-0.42, 0]
							],
						});

					}
				})

			}
			
			 // DataTable Export
			$("#table").DataTable({
				"createdRow": function( row, data, dataIndex ) {

				$(row).addClass( 'client' );
				},
				dom: 'Bfrtip',
				dom: 'lBfrtip',

				buttons: [
				{
					className: 'btn-primary',
					extend: 'excelHtml5',
					exportOptions: {
						columns: [0,1,2,3,4]
					},
					text: function ( dt, button, config ) {
						return dt.i18n( 'buttons.print', 'Print Excel File' );
					},
					messageTop:'LIST OF SYSTEM USERS'

				},
				{
					extend: 'pdfHtml5',
					className: 'btn-primary',
					exportOptions: {
						columns: [0,1,2,3,4]
					},
					text: function ( dt, button, config ) {
						return dt.i18n( 'buttons.print', 'Print Pdf File' );
					},
					messageTop:'LIST OF SYSTEM USERS'
				},

			// 'colvis'
			],

			}).clear().draw();
			 
			
		
			
		
		</script>

</body>

</html>