<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>OLHS - DASHBOARD</title>

<div data-th-replace="Link/CSS :: myCss"></div>

<!-- /global stylesheets -->

<!-- Core JS files -->
<style>
.charts {
            width: 100%;
            min-height: 40vh;
            margin-left:50px;
        }

        .c3-title {
            font-size: 1.5em;
            font-weight: bolder;
        }
        
        .td{
         margin-top:10px;
        }

</style>

</head>

<body class="leftbar-view">

	<div data-th-replace="/Layout/Navbar :: myHeader"></div>
	<div data-th-replace="/Layout/Sidebar :: mySidebar"></div>
	<section class="main-container">
	
		   <!-- <input type="hidden" id="userRole" th:value="${session.a_user.getRole()}"> -->
		  <!--  <input type="hidden" id="reg_uuid" th:if="${session.a_reg!=null}" th:value="${session.a_reg.getUuid()}"> -->
		<div class="container-fluid">
			<div>			
			    <div class="page-header filled full-block light">
                    <div class="row">
                        <div class="col-md-6">
                            <h2> <span data-localize="loans">STATISTICS</span></h2>

                        </div>
                        <div class="col-md-6">
                            <ul class="list-page-breadcrumb">
                                <li> <span data-localize="menu">Menu</span> <i class="zmdi zmdi-chevron-right"></i></li>
                                <li> <span data-localize="loans">Statistics</span> <i class="zmdi zmdi-chevron-right"></i></li>
                                <li class="active-page"> <span data-localize="loans">statistic</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
				<div class="row td">
					<div class="col-md-12">
						<div class="widget-wrap">
							<div class="widget-header block-header margin-bottom-0 clearfix">
							
								<div class="pull-left">
									<div class=""></div>
									<div class="members"></div>
								</div>
								<div class="pull-right">
									<div class="female"></div>
									<div class="male"></div>
								</div>
							</div>
							
							
							   <div class="row" style="margin-top: 5vh">
                                    <div class="col-md-6">
                                        <div id="piechart" class="charts"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="piechart2" class="charts"></div>
                                    </div>
                                </div>
							
						</div>
						
					</div>
					
<!-- 					<div class="col-md-7" th:if="${session.a_reg!=null}">
						<div class="widget-wrap">
							<div class="widget-header block-header margin-bottom-0 clearfix">
								<div class="pull-left">
									<div class="">Expected Harvest</div>
									<div class=""></div>
								</div>
								<div class="pull-right">
									<div class=""></div>
									<div class=""></div>
								</div>
							</div>
							<div class="widget-container margin-top-0">
								<div class="widget-content">
											<table id="stable" class="table table-hover">
                                <thead>
                                <tr>
                                	
                                    <th>SEASON</th>
                                    <th>PRODUCT</th>
                                     <th>EXPECT HARVEST</th>
                                      
                                </tr>
                                </thead>
                                <tbody id="stbody">
                              

                                </tbody>
                            </table>
								</div>
							</div>
						</div>
						
					</div> -->
				</div>
				<div class="row">
					<div data-th-replace="/Layout/Footer :: myFooter"></div>
				</div>

			</div>
		</div>

		<!-- <div th:if="${session.a_reg!=null}">
		<input type="hidden" th:value="${session.a_reg.getRegistrantCategory()}" id="entityType" hidden=""/>
		 <input type="hidden" id="registrant" th:value="${session.a_reg.getUuid()}" hidden="" />
		</div> -->
		<div data-th-replace="/Link/Script :: myScript"></div>



		   <script>
			 
		   function olhs_url() {
			      var olhs_url = "http://localhost:8003";

			      return olhs_url;
			    }
	    
		   $(function(){
			   submitted();
			Complains();
           })
		   
		   function submitted() {
	            $.ajax({
	            	url: olhs_url() + '/memberships',
	                type: "GET", // type of action POST || GET
	               
	                contentType: 'application/json',
	                headers: {
	                	'olhs_token':'OLHS'+formatDate(new Date(), "dd-MM-yyyy"),
	                },
	                success: function (result, textStatus, jQxhr) {
	                    if (result.CODE == 200) {
	                        console.log(result.OBJECT);
	                        
	                       
	                        createPieChart(result.OBJECT);
	                       // createPieChart2(result.OBJECT);
	                    } else {
	                        $.alert('Error Occurred ' + result.DESCRIPTION, {
	                            type: "danger",
	                            position: ['top-right',
	                                [-0.42, 0]
	                            ],
	                        });
	                    }
	                },
	                error: function (xhr, resp, text) {
	                    console.log(xhr, resp, text);

	                    $.alert('Error Occurred' + xhr.responseText, {
	                        type: "danger",
	                        position: ['top-right',
	                            [-0.42, 0]
	                        ],
	                    });
	                }
	            });
	        }

		   function Complains() {
	            $.ajax({
	            	url: olhs_url() + '/complains',
	                type: "GET", // type of action POST || GET
	               
	                contentType: 'application/json',
	                headers: {
	                	'olhs_token':'OLHS'+formatDate(new Date(), "dd-MM-yyyy"),
	                },
	                success: function (result, textStatus, jQxhr) {
	                    if (result.CODE == 200) {
	                        console.log(result.OBJECT);
	                        
	                       
	                        
	                        createPieChart2(result.OBJECT);
	                    } else {
	                        $.alert('Error Occurred ' + result.DESCRIPTION, {
	                            type: "danger",
	                            position: ['top-right',
	                                [-0.42, 0]
	                            ],
	                        });
	                    }
	                },
	                error: function (xhr, resp, text) {
	                    console.log(xhr, resp, text);

	                    $.alert('Error Occurred' + xhr.responseText, {
	                        type: "danger",
	                        position: ['top-right',
	                            [-0.42, 0]
	                        ],
	                    });
	                }
	            });
	        }


		   
		 
			
		   function createPieChart(memberships) {
	            var piechart = c3.generate({
	                bindto: '#piechart',
	                data: {
	                    // iris data from R
	                    columns: [
	                        ['pending', countByStatus(memberships, "PENDING")],
	                        ['in progress', countByStatus(memberships, "INPROGRESS")],
	                        ['issued', countByStatus(memberships, "ISSUED")],
	                        ['rejected', countByStatus(memberships, "REJECTED")],
	                    ],
	                    type: 'pie',
	                },
	                title: {
	                    text: 'Membership Applications by status'
	                },
	                tooltip: {
	                    format: {
	                        value: function (value, ratio, id) {
	                            return value;
	                        }
	                    }
	                }
	            });
	        }
		   
		   function createPieChart2(memberships) {
	            var piechart = c3.generate({
	                bindto: '#piechart2',
	                data: {
	                    // iris data from R
	                    columns: [
	                        ['open', countByStatus1(memberships, "OPEN")],
	                        ['Received by council', countByStatus1(memberships, "COUNCIL_RECEIVED")],
	                        ['closed', countByStatus1(memberships, "CLOSED")],
	                      
	                    ],
	                    type: 'pie',
	                },
	                title: {
	                    text: 'Complains Received by status'
	                },
	                tooltip: {
	                    format: {
	                        value: function (value, ratio, id) {
	                            return value;
	                        }
	                    }
	                }
	            });
	        }
		   
		   function countByStatus(memberships, status) {
			   var count = 0;
			   $.each(memberships, function (i, membership) {
				   if (membership.memberStatus === status) {
	                    count++;
	                    console.log(membership.memberStatus);
	                }
			  })
	           
	           /*  memberships.forEach(membership => {
	                if (membership.memberStatus === status) {
	                    count++;
	                }
	            }); */
	            console.log(count);
	            return count;
	            
	        }
		   
		   function countByStatus1(memberships, status) {
			   var count = 0;
			   $.each(memberships, function (i, complain) {
				   if (complain.complainstatus === status) {
	                    count++;
	                    
	                }
			  })
	           
	           /*  memberships.forEach(membership => {
	                if (membership.memberStatus === status) {
	                    count++;
	                }
	            }); */
	            console.log(count);
	            return count;
	            
	        }
		   </script>

	</section>
</body>
</html>
